<!DOCTYPE html>
	<html>
		<head>
      <!-- {{ page.title }} and {{ content }} tags -liquid tags, and these are used to inject content into the final web page -->
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pavani1993@gmail.com">email</a></li>
	        		<li><a href="https://github.com/pavani16">github.com/pavani16</a></li>
				</ul>
			</footer>
		</body>
	</html>
